#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* HOME */
body {
  background-color: black;
  background: linear-gradient(35deg, rgb(26, 26, 26) 20%, rgb(44, 90, 101) 30%, rgb(73, 137, 149) 50%);
}

h1 {
  color: black;
}

.tagline {
  font-size: 12pt;
}

/* PROFILE */

/* POTENTIAL TEAMMATES */