h5 {
    color: rgb(61, 105, 131) !important
}

.input-fields {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
}
.input-fields input {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 35%;
    background-color: rgb(164, 211, 238) !important;
    padding-left: 2px;
   
}
.input-fields placeholder {
color: black
}
p {
    color: rgb(61, 105, 131) !important ;
}
.new-acct-submit-iconbutton {
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-top: 25px;

}
.link-to-login {
    margin-top: 2px;
}
/* .new-acct-submit-iconbutton {
    content: "";
    position: absolute;
    border-top: 1px solid  rgb(61, 105, 131) ;
    width: 63vw;  
} */