.new-user-link {
    color: rgb(61, 105, 131) !important
}
.login-button{
    background-color: rgb(61, 105, 131) !important
}
.logout-button {
    color: rgb(61, 105, 131) !important ;
   
}
.link-to-add-new-acct {
     cursor: pointer;
     text-decoration: underline;
}
.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
  }
  .login-fields input {
   height: 35px;
   width: 400px !important
}