
.card {
    position: relative;
    width: 350px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
   background-color: rgb(86, 85, 85);
   box-shadow: 0px 5px 10px 0px rgba(6, 85, 118, 0.3);
}
.membertag {
    color: rgb(79, 129, 222);
}
.playerCards_cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-right: 45vh;

}
.swipe {
    position: absolute;
}
