
.card {
    position: relative;
    margin-top: 2px;
    width: 450px;
    padding: 10px;
    max-width: 95vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
   background-color: rgb(86, 85, 85);
   box-shadow: 0px 5px 10px 0px rgba(6, 85, 118, 0.3);
}
.membertag {
    position: absolute;
    bottom: 10px;
    color: rgb(42, 87, 117);
    font-weight: bold;
    border: 1px solid rgb(42, 87, 117);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: black;
}
.playerCards_cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-right: 50vh;

}
.swipe {
    position: absolute;
}
